doctype html
html
  head
    meta(charset='utf-8')
    title= title
    link(rel='stylesheet', href='./css/style.css')
    link(rel='stylesheet', href='./vendor/bootstrap/css/bootstrap.css')
    script(src="./vendor/jquery/jquery.min.js")
    script(src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js")
    script(src='./vendor/bootstrap/js/bootstrap.min.js')
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.js")
    script(src="/node_modules/angular-route/angular-route.js")
    script(src="/node_modules/angular-ui-bootstrap/dist/ui-bootstrap.js")
    script(src="node_modules/chart.js/Chart.js")
    script(src="node_modules/angular-chart.js/dist/angular-chart.min.js")

    script(src="/angular/main.js")
    script(src="/angular/controllers/homeController.js")
    script(src="/angular/controllers/indexController.js")
    script(src="/angular/controllers/tablesController.js")
    script(src="/angular/controllers/formsController.js")

    // Fontastic Custom icon font
    link(rel='stylesheet', href='/stylesheets/fontastic.css')
    // Font Awesome CSS
    link(rel='stylesheet', href="vendor/font-awesome/css/font-awesome.min.css")
    // Google fonts - Poppins
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Poppins:300,400,700')
    // theme stylesheet
    link#theme-stylesheet(rel='stylesheet', href='/stylesheets/style.default.css')
    // Favicon
    link(rel='shortcut icon', href='favicon.png')
    block headScripts

  body(ng-app="main" ng-controller="indexController")
    include components/header
    include components/sidebar