extends layout

block content
    .content-inner
        // Page Header
        header.page-header
            .container-fluid
                h2.no-margin-bottom Forms
        // Breadcrumb
        .breadcrumb-holder.container-fluid
            ul.breadcrumb
                li.breadcrumb-item
                    a(href='/') Home
                |
                li.breadcrumb-item.active Forms
                |
        // Form Section
        section.dashboard-header
            .container-fluid
                .row
                    form#audit-file-form.col-lg-12(method='post' action='/forms/audit-file')
                        .form-group
                            input(type='file', name="fileName", id="fileUpload")
                        .form-group
                            .checkbox
                                    input(type='text', name="filePath", id="filePath", value='', display='none')
                                    |
                        .form-group
                            .checkbox
                                label
                                    input.check(type='checkbox', name="audit[]", value='0')
                                    |  Full Control
                        .form-group
                            .checkbox
                                label
                                    input.check(type='checkbox', name="audit[]", value='0')
                                    |  Read
                        .form-group
                            .checkbox
                                label
                                    input.check(type='checkbox', name="audit[]", value='0')
                                    |  Write
                        .form-group
                            .checkbox
                                label
                                    input.check(type='checkbox', name="audit[]", value='0')
                                    |  Execute
                        input#audit-file.btn.btn-primary(type='submit')
                        if errors
                            each err in errors
                                .alert.alert-danger
                                    .strong #{err.msg}

block scripts
    script.
        formsController.init();
