extends layout

block headScripts
    script(src='/js/chartsController.js')

block content
    .content-inner
        // Page Header
        header.page-header
            .container-fluid
                h2.no-margin-bottom Dashboard
        // Dashboard Counts Section
        section.dashboard-counts.no-padding-bottom
            .container-fluid
                .row.bg-white.has-shadow
                    // Item
                    .col-xl-3.col-sm-6
                        .item.d-flex.align-items-center
                            .icon.bg-violet
                                i.icon-user
                            |
                            .title
                                span
                                    | New
                                    br
                                    | Clients
                                |
                                .progress
                                    .progress-bar.bg-violet(role='progressbar', style='width: 25%; height: 4px;', aria-valuenow='{#val.value}', aria-valuemin='0', aria-valuemax='100')
                            |
                            .number
                                strong 0
                    // Item
                    .col-xl-3.col-sm-6
                        .item.d-flex.align-items-center
                            .icon.bg-red
                                i.icon-padnote
                            |
                            .title
                                span
                                    | Critic
                                    br
                                    | Logs
                                |
                                .progress
                                    .progress-bar.bg-red(role='progressbar', style='width: 70%; height: 4px;', aria-valuenow='{#val.value}', aria-valuemin='0', aria-valuemax='100')
                            |
                            .number
                                strong 0
                    // Item
                    .col-xl-3.col-sm-6
                        .item.d-flex.align-items-center
                            .icon.bg-green
                                i.icon-bill
                            |
                            .title
                                span
                                    | New
                                    br
                                    | Logs
                                |
                                .progress
                                    .progress-bar.bg-green(role='progressbar', style='width: 40%; height: 4px;', aria-valuenow='{#val.value}', aria-valuemin='0', aria-valuemax='100')
                            |
                            .number
                                strong 0
                    // Item
                    .col-xl-3.col-sm-6
                        .item.d-flex.align-items-center
                            .icon.bg-orange
                                i.icon-check
                            |
                            .title
                                span
                                    | Open
                                    br
                                    | Cases
                                |
                                .progress
                                    .progress-bar.bg-orange(role='progressbar', style='width: 50%; height: 4px;', aria-valuenow='{#val.value}', aria-valuemin='0', aria-valuemax='100')
                            |
                            .number
                                strong 0
        // Dashboard Header Section
        section.dashboard-header
            .container-fluid
                .row
                    // Statistics
                    .statistics.col-lg-3.col-12
                        .statistic.d-flex.align-items-center.bg-white.has-shadow
                            .icon.bg-red
                                i.fa.fa-tasks
                            |
                            .text
                                strong 234
                                br
                                small Applications
                        |
                        .statistic.d-flex.align-items-center.bg-white.has-shadow
                            .icon.bg-green
                                i.fa.fa-calendar-o
                            |
                            .text
                                strong 152
                                br
                                small Interviews
                        |
                        .statistic.d-flex.align-items-center.bg-white.has-shadow
                            .icon.bg-orange
                                i.fa.fa-paper-plane-o
                            |
                            .text
                                strong 147
                                br
                                small Forwards
                    // Line Chart
                    .chart.col-lg-6.col-12
                        .line-chart.bg-white.d-flex.align-items-center.justify-content-center.has-shadow
                            canvas#lineChartLogsTime
                    |
                    .chart.col-lg-3.col-12
                        // Numbers
                        .statistic.d-flex.align-items-center.bg-white.has-shadow
                            .icon.bg-green
                                i.fa.fa-line-chart
                            |
                            .text
                                strong 99.9%
                                br
                                small Success Rate
        // Client Section
        section.client.no-padding-top
            .container-fluid
                .row
                    // Bar Chart
                    .col-lg-4
                        .overdue.card
                            .card-body
                                h3  Month Events
                                small Event per month
                            |
                            canvas#barChartMonthEvents
                    // Work Amount
                    .col-lg-4
                        .work-amount.card
                            .card-body
                                h3 Logs Counter
                                small Number of each event id.
                                |
                                .chart.text-center
                                    .text
                                        strong.pieChartLogsCounterText 0
                                        br
                                        span Logs
                                    |
                                    canvas#pieChartLogsCounter
                    // Total Overdue
                    .col-lg-4
                        .overdue.card
                            .card-body
                                h3 Total Events
                                small Number of each event id.
                                |
                                .number.text-center.lineChartTotalEventText 0 Events
                                |
                                .chart
                                    canvas#lineChartTotalEvent


block scripts
    script.
        chartsController.init();