.page-cntent.d-flex.align-items-strech
    nav.side-navbar.shrinked
        // Sidebar Header
        .sidebar-header.d-flex.align-items-center
            .avatar
                img.img-fluid.rounded-circle(src='images/avatar-6.jpg', alt='...')
            |
            .title
                h1.h4 Mark Stephen
                |
                p Web Designer
        // Sidebar Navidation Menus
        span.heading Main
        |
        ul.list-unstyled
            #{pageToken === 1 ? 'li class="active"' : 'li'}
                a(href='/')
                    i.icon-home
                    | Home
            |
            #{(pageToken === 2) ? 'li class="active"' : 'li'}
                a(href='tables')
                    i.icon-grid
                    | Tables
            |
            #{(pageToken === 3) ? 'li class="active"' : 'li'}
                a(href='charts')
                    i.fa.fa-bar-chart
                    | Charts
            |
            #{(pageToken === 4) ? 'li class="active"' : 'li'}
                a(href='forms')
                    i.icon-padnote
                    | Forms
            |
            li
                a(href='login')
                    i.icon-interface-windows
                    | Login Page

    block content