.sidebar
    nav.side-navbar.shrinked
        // Sidebar Header
        .sidebar-header.d-flex.align-items-center
            .avatar
                img.img-fluid.rounded-circle(src='images/profileImages/avatar-1.jpg', alt='...')
            .title
                h1.h4 {{connectedUser.name}}
                p {{connectedUser.email}}
        // Sidebar Navigation Menus
        span.heading Main
        ul.list-unstyled
            li(ng-class="{active:activePage=='home'}")
                a(href='/' ng-click="setCurrentPage('home')")
                    i.icon-homeHome Home
            li(ng-class="{active:activePage=='tables'}")
                a(href='/tables' ng-click="setCurrentPage('tables')")
                    i.icon-gridTables Tables
            li(ng-class="{active:currentPage=='forms'}")
                a(href='/forms' ng-click="setCurrentPage('forms')")
                    i.icon-padnoteForms Forms
            li(ng-class="{active:currentPage=='login'}")
                a(href='/' ng-click="showLogin()")
                    i.icon-interface-windowsLogin Login
